@model LancheListViewModel

<div><h2>@Model.CategoriaAtual</h2></div>

<div class="row">

    @foreach (var lanche in Model.Lanches)
    {
      @*  @Html.Partial("_LanchesResumo", lanche);*@

      @*Versao atualizada > 3*@
      <partial name="_LanchesResumo" for="@lanche"/>
    }
</div>